

body{
    text-align: center;
    background-color: blanchedalmond;

}

h1{
    margin-top: 1em;
   color:rgb(51, 116, 236);
   font-family: cursive;
}
h2{
  margin: 30px;
  color: yellowgreen;
}
h4{
  margin: 30px;
}
.flex-container  {
    display: flex;
    flex-direction: row;
    flex:1;
  }
.circle_fd{
    border-radius: 3% 40% 3% 3%;
    width: auto;
    height: auto;
    background-color:antiquewhite;
    text-align:center ;
    border: 3px solid lightskyblue;
    margin:20px;
}
.circle_language{
    border-radius: 40% 3% 3% 3%;
    width: auto;
    height: auto;
    background-color:antiquewhite;
    text-align:center ;
    border: 3px solid lightskyblue;
    margin:20px;
}
.skillimg{
    width:60px;
    height: auto;
    margin: 20px;
}
.round{
    border-radius: 100%;
    width:60px;
    height: 60px;
}
.meskills , .meimg,.grad-brainnest{
border-radius: 100%;
width: 250px;
height: auto;
}
.meskills{
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: 10;
}
@keyframes rotate {
  0% {
    transform:rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
    animation: rotation 1s;
  }
  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }
  .linear {
    animation-timing-function:linear;
  }
  .infinite {
    animation-iteration-count: 10;
  }

  .column{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }
  .row{
    display: flex;
    flex-direction: row;
    margin: 100px 50px;
    flex-shrink: 1;
    justify-content: center;
    font-size-adjust: auto;
  }

  a {
    text-decoration:none;
    color: coral;
  }

.title{
  font-size: 4rem;
  color: chocolate;
}
footer{
  margin-bottom: 30px;
}
